<%- include('../cmsPartial/headCms') %>
<%- include('../cmsPartial/cmsNav') %>

<form action="" method="post" class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name" name="name">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Role</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="role" placeholder="Your Role">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="password" placeholder="Your password">
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary mt-4" type="submit">Submit</button>
                  </div>
            </div>
        </div>
    </div>
</form>

<%- include('../cmsPartial/cmsFoot') %>